body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-top: 20px;
    background: url('../images/aboutPage/Ocean.gif') no-repeat center center fixed;
    background-size: cover;
}

header {
    width: 100%;
    align-items: center;
    z-index: 100;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
}

.branding {
    display: flex;
    align-items: center;
}

.Logo {
    margin-right: 100px;
    border-radius: 30px;
    margin-left: 100px;
}

.navi a {
    padding: 8px 26px;
    margin: 20px 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
    background: rgba(0, 0, 0, .25);
}

.navi a.current{
    background: rgba(0, 0, 0, .75);
}

.navi a:hover, .dropdown:hover .dropbtn {
    background: rgba(0, 0, 0, .5);
    color: rgb(11, 230, 11);
}

.dropdown {
    float: right;
    position: relative;
}

.dropdown .dropbtn {
    padding: 8px 26px;
    margin: 20px 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 30px;
    background: rgba(0, 0, 0, .25);
    font-size: 16px;
    border-style: none;
}

.dropdown-content {
    display: none;
    min-width: 100px;
    z-index: 1;
    top: 80%;
    right: 8%;
    position: absolute;
    font-size: 14px;
}

.dropdown-content a {
    padding: 8px 12px;
    margin: 10px 30px;
    color: rgb(255, 255, 255);
    display: block;
    border-radius: 30px;
    background: rgba(0, 0, 0, .25);
    transition: 1.2 ease-in-out;
}

.dropdown-content a:hover {
    background: rgba(0, 0, 0, .75);
    transition: 1.8s;
}

.dropdown:hover .dropdown-content {
    border-radius: 30px;
    background-color: clear;
    display: block;
}

.greenhouse-effect {
    position: relative;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hover-text {
    color: #2196F3;
    cursor: pointer;
    position: relative;
}

#popup-image-container {
    display: none;
    position: absolute;
    z-index: 10;
}

#popup-image {
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: rgba(76, 175, 80, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

p {
    margin: 0;
}

footer ul li {
    margin: 0 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
}

.detailed-info {
    padding: 2rem;
    padding-top: 20px;
    background-color: white;
    margin: 1rem;
    margin-top: 32px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detailed-info h2 {
    margin-top: 0;
}

.detailed-info article {
    margin-bottom: 2rem;
}

.detailed-info ul {
    list-style: disc;
    margin-left: 2rem;
}

header, main, footer {
    position: relative;
    z-index: 1;
}

main {
    height: max-content;
    overflow: hidden;
}

.greenhouse-effect, .detailed-info {
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

#background-video {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

a:link { 
    text-decoration: none; 
    color: white;
  } 
  a:visited { 
    text-decoration: none; 
    color: white;
  } 
  a:hover { 
    text-decoration: none; 
    color: #2196F3;
  } 
  a:active { 
    text-decoration: none; 
  }
  
